body { background: black; color: white; font-family: arial, san-serif; }
.toolbar { padding: 3px; overflow: hidden; }
a { outline: 0; }
.slide { margin: auto; padding: 1em; overflow: hide; border: solid silver 2px; font-size: 3em; }
.slide form { font-size: 40%; }


.sorter { height: 200px; overflow: hidden; }
.sorter .slide { font-size: 0.8em; width: 200px; padding: 10px; margin: 5px; list-style:none; display: block; float: left; }
